$colOne: #5094f2;
$colOneDark: #3276e0;
$colTwo: #d84444;
$colTwoDark: #d42323;
$colThree: #ebbb11;
$colThreeDark: #ddad00;
$colFont: #909090;


@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot');
	src:url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff2') format('woff2'),
		url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
		url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face { 
	font-family: "SourceSansPro" , sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}
.cf{
	&::after {
		display: block;
		content: "";
		clear: both;
	}
	 
}
_resh{
	margin-top: 0;
	margin-bottom: 0;
}
.b{
	background-color: rgba(206, 206, 206, 0.589);
	width: 100%;
}
.wrapper {
	font-family: 'MyriadPro';
	color:$colFont;
	min-width: 870px;
}
.container{
	max-width:1024px;
	margin-right: auto;
	margin-left: auto;
	// background-color: antiquewhite
}
.header{
	min-height: 89px;
	text-transform: capitalize;
	// padding-bottom: 16px;
	&__nav{
		float:right;
		margin-top: 15px;
		margin-right: 35px;
	}
}
.nav{
	margin-bottom: 0px;
	margin-top: 14px;
	font-size: 20px;
	&__menu{
		margin-bottom: 0px;
	}
	&__link{
		text-decoration: none;
		color:inherit;
	}
	&__item{
		box-sizing:border-box;
		padding-bottom: 34px;
		padding-left: 15px;
		padding-right: 15px;
		transition: all 0.15s;
		cursor: pointer;
		display: inline-block;
		line-height: 1;
		position:relative;

		&::after {
			background-color:$colOne;
			display: block;
			content: "";
			height: 5px;
			width: 0%;
			left:50%;
			position:absolute;
			top:49px;
			transition: width .15s ease-in-out;
			transform:translateX(-50%);
		}

		&:hover:after,
		&:focus:after {
			width: 100%;
		}
	}
}
.logo{
	margin:0;
	font-family: MyriadPro;
	color:black;
	font-size: 43px;
	margin-top: 19px;
	margin-left: 26px;
	line-height: 40px;
	font-weight: 400;
	&:hover{
		text-shadow: 0 0 5px #00000080;
	}
	&::before{
		content:'';
		display: inline-block;
		width: 44px;
		height: 44px;
		border-radius: 22px;
		background: url(../img/“@1X.png) no-repeat $colOne center top 12px;
		position: relative;
		top:4px;
		margin-right: 15px;
	}
}
.inline{
	display:inline-block;
}

.banner{
	width: 100%;
	min-height: 493px;
	background: url('../img/dsfsdfsdfds@1X.png') no-repeat center;
	background-size: cover;
	color:white;
	overflow: hidden;

	&__foto{
		width:345px;
		height: 436px;
		background: url('../img/iphone@1X.png') no-repeat ;
		display: inline-block;
		margin-top: 38px;
		margin-left: 6%;
	}
	&__text{
		float:right;
		width: 395px;
		min-height: 200px;
		margin-top: 135px;
		margin-right: 11%;
	}
	&__info{
		min-width: 940px;

	}
	
	&__head{
		font-size: 42px;
		@extend _resh;
		margin-top: 11px;
		font-weight: 100;
	}
	&__dummy{
		font-size: 26px;
		@extend _resh;
		margin-top: 9px;

	}
	&__printing{
		font-size: 26px;
		@extend _resh;
		margin-top: 16px;


	}
	&__btn{
		margin-top: 36px;
	}
}
.btn{
	min-width: 172px;
	height: 41px;
	background-color: $colOne;
	border: 1px solid $colOne;
	border-radius: 2px;
	font-size: 22px;
	color:white;
	// font-weight: 100;
	vertical-align: middle;
	&:hover{
		background-color: $colOneDark;

	}

	&-circle{
		padding-left: 4px;
		padding-bottom: 4px;
		&::before{
			content:'';
			display: inline-block;
			width: 23px;
			height: 23px;
			background: url('../img/Shape 2@1X.png') no-repeat center;
			position: relative;
			right: 3px;
			top: 4px;
			margin-right: 4px;
		}
	}

}

.cards{
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 50px;

	& .card:nth-child(1){
		float: left;
		margin-left: 25px;
	}
	& .card:nth-child(2){
	}
	& .card:nth-child(3){
		float: right;
		margin-right: 25px;
	}
}

.card{
	display: inline-block;
	width: 248px;
	margin: 0 auto;
	margin-top: 53px;


	&__circle{
		margin: 0 auto;
		width: 186px;
		height: 186px;
		border-radius: 93px;
		cursor: pointer;
		&::after{
			display: block;
			content:'';
			margin: 0 auto;
			width: 186px;
			height: 186px;
		}
		&-pen{
			background-color: $colOne;
			&:hover{
				background-color: $colOneDark;
			}
			&::after{
				background: url('../img/Shape 3@1X.png') no-repeat;
				background-position: center center;
			}
		}
		&-screen{
			background-color: $colTwo;
			&:hover{
				background-color: $colTwoDark;
			}
			&::after{
				background: url('../img/Shape 6@1X.png') no-repeat;
				background-position: center center;
			}
		}
		&-basket{
			background-color: $colThree;
			&:hover{
				background-color: $colThreeDark;
			}
			&::after{
				background: url('../img/Shape 5@1X.png') no-repeat;
				background-position: center center;
			}
		}
	}
	&__head{
		// margin: 28 auto 8 auto;
		margin: 0;
		margin-top: 25px;
		margin-bottom: 8px;
		text-align: center;
		font-size: 20px;
		color:$colOne;
		font-weight: 400;

	}
	&__text{
		margin: 0 auto;
		text-align: center;
		font-size: 14px;

	}
}

.shopCard{
	max-width: 920px;
	margin-bottom: 63px;
	margin-top: 87px;
	&__head{
		font-size: 42px;
		font-weight: 100;
		margin: 0;
		margin-bottom: 10px;
		margin-top: 77px;
	}
	&__cont{
		width: 100%;
	}
	&__backet{
		margin-top: 25px;
		width: 370px;
		height: 279px;
		background: url('../img/cart@1X.png') no-repeat center;
	}

}
.shopCardText{

	margin-top: 0;
	vertical-align: top;
	margin-left: 75px;
	&__text{
		max-width: 470px;
		p{
			margin-top: 17px;
		}
	}
	&__head{
		margin: 0;
		font-size: 26px;
		font-weight: 100;
		margin-bottom: 30px;
	}
}

.footer{
	min-height: 94px;
	border-top: 1px solid $colFont;
	&__text{
		text-align: center;
		font-size: 15px;
		margin-top: 12px;
	}
}
