.block3 {
	min-height: 1398px;
	background-color: #d2ecfe;
	background-image: url(../img/bg3@x2.png);
	background-size: 780px 610px;
	background-position: right bottom;
	background-repeat: no-repeat;
	position: relative;
}
.info {
	position: relative;
}
.info__header {
	font-size: 40px;
	text-align: center;
	color: #d7014d;
	text-transform: uppercase;
	padding-top: 99px;
	margin-bottom: 99px;
}
.info__block {
	width: 1140px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	margin-right: auto;
	margin-left: auto;
}
.info__list {
	width: 293px;
	margin-right: 50px;
	z-index: 2;
}
.info__item {
	width: 293px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0);
	border: solid 1px #000851;
	margin-bottom: 30px;
	-webkit-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	transition: background-color 0.2s;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-right: 14px;
	padding-left: 14px;
}
.info__check {
	width: 33px;
	height: 18px;
	fill: #d7014d;
	padding-right: 14px;
}

.info__text {
	font-size: 18px;
	color: #000851;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.info__item:hover,
.info__item:focus,
.info__item-check {
	background-color: #000851;
	cursor: pointer;
}
.info__item:hover .info__check,
.info__item-check .info__check{
	fill: #ffea00;
}

.info__item:hover .info__text,
.info__item-check .info__text{
	color: #ffffff;
}
.info__item:active {
	background-color: #000b72;
	-webkit-transition: background-color 0.15s;
	-o-transition: background-color 0.15s;
	transition: background-color 0.15s;
}
.info__cont, .slideInfo{
	position: relative;
	width: 797px;
	height: 398px;
}
.slideInfo {
	background-color: #000851;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 4px 40px 2px 40px;
	overflow: hidden;
	z-index: 1;
	opacity: 0;
	top: 30px;
	position: absolute;
	left: 0;
}
.slideInfo-vis {
	opacity: 1;
	top: 0;
	-webkit-transition: top 0.5s ease-out,opacity 1s;
	-o-transition: top 0.5s ease-out,opacity 1s;
	transition: top 0.5s ease-out,opacity 1s;
}
.slideInfo__cont {
	width: 326px;
	margin-right: auto;
	margin-left: auto;
}
.infoVideo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 108px;
}
.slideInfo__head {
	width: 80%;
	color: #ffea00;
	font-size: 24px;
	text-align: center;
	margin-bottom: 38px;
	margin-right: auto;
	margin-left: auto;
}
.slideInfo__text {
	font-size: 18px;
	color: #fff;
	line-height: 27px;
}
.infoVideo__block {
	width: 435px;
	z-index: 1;
}
.infoVideo__header {
	margin-bottom: 34px;
	z-index: 5;
	text-align: center;
}
.infoVideo__text {
	font-size: 24px;
	margin-top: 34px;
	color: #000851;
	line-height: 35px;
}
.infoVideo__video {
	width: 555px;
	height: 555px;
	background-image: url(../img/bg5@x1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-left: 100px;
	z-index: 1;
}
.info__symbol_1,
.info__symbol_2,
.info__symbol_3 {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}
.info__symbol_1 {
	width: 308px;
	height: 265px;
	background-image: url("../img/symbol/el_bg_1.svg");
	left: 2%;
	top: 30px;
}

.info__symbol_2 {
	background-image: url("../img/symbol/el_bg_2.svg");
	width: 402px;
	height: 416px;
	top: 393px;
	right: 2%;
}
.info__symbol_3 {
	background-image: url("../img/symbol/el_bg_3.svg");
	width: 354px;
	height: 351px;
	top: 739px;
	left: 7%;
}
.wrapperforsymbol {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
@media screen and (max-width: 1280px) {
	.info__block {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
	}
	.info__header {
		font-size: 35px;
		padding-top: 45px;
		margin-bottom: 45px;
	}
	.info__list {
		margin-right: initial;
	}
	.info__cont, .slideInfo{
		width: 740px;
	}
	.slideInfo {
		border-radius: 40px;
		margin-left: auto;
		margin-right: auto;
	}
	.slideInfo__img {
		height: 398px;
	}
	.slideInfo__cont {
		width: 90%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.info__symbol_1 {
		width: 249px;
		top: 74px;
	}
	.info__symbol_3 {
		width: 298px;
		top: 858px;
	}
	.info__symbol_2 {
		width: 306px;
		top: 618px;
	}
	.infoVideo {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding-bottom: 102px;
	}

	.infoVideo__video {
		margin-right: auto;
		margin-top: 70px;
		margin-left: initial;
		width: 500px;
		height: 500px;
	}
	.infoVideo__block {
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 750px) {
	.info__cont, .slideInfo{
		height: auto;
	}
	.block3 {
		min-height: initial;
		background-color: #d2ecfe;
		background-image: url(../img/bg3@x1.png);
		background-size: 636px auto;
		background-position:bottom;
	}
	.slideInfo__img {
		height: auto;
	}
	.info__list{
		display: none;
	}
	.slideInfo__cont {
		margin-top: 30px;
		margin-bottom: 30px;
		padding-right: 21px;
		padding-left: 21px;
	}
	.slideInfo__text {
		padding-left: 21px;
		padding-right: 21px;
	}
	
	.infoVideo {
		margin-top: 0;
	}
	.infoVideo__video {
		width: 300px;
		height: 300px;
		margin-right: auto;
		margin-left: auto;
	}
	.infoVideo__block {
		width: 95%;
	}
	.info__cont{
		width: 100%;
	}
	.slideInfo {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-bottom: 30px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 80%;
		top:0;
		margin-right: auto;
		margin-left: auto;
		position: relative;
		opacity: 1;
	}
	.slideInfo__img {
		width: 100%;
	}

}
@media screen and (max-width: 450px) {
	.slideInfo {
		width: 95%;
	}
	.slideInfo__text {
		padding-left: 15px;
		padding-right: 15px;
	}

}
