@charset "UTF-8";
/*Доделать:
- логин заменить на  input
- search  так же анимировать выкатывание  input

*/
@font-face {
  font-family: 'my-Font';
  src: url("../fonts/my-Font/my-Font.eot?v9bzkq");
  src: url("../fontmy-Font/my-Font.eot?v9bzkq#iefix") format("embedded-opentype"), url("../fonts/my-Font/my-Font.ttf") format("truetype"), url("../fonts/my-Font/my-Font.woff") format("woff"), url("../fonts/my-Font/my-Font.svg?v9bzkq#my-Font") format("svg");
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; }

@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/GothamBook/GothamBook.eot");
  src: local("GothamBook"), url("../fonts/GothamBook/GothamBook.woff") format("woff"), url("../fonts/GothamBook/GothamBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-medium';
  src: url("../fonts/Gotham/GothamMedium.eot");
  src: url("../fonts/Gotham/GothamMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham/GothamMedium.woff2") format("woff2"), url("../fonts/Gotham/GothamMedium.woff") format("woff"), url("../fonts/Gotham/GothamMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-bold';
  src: url("../fonts/Gotham/Gotham-Bold.eot");
  src: url("../fonts/Gotham/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham/Gotham-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

.container {
  max-width: 980px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px; }

.case {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  margin: 0 auto; }

.header {
  width: 100%;
  overflow: hidden; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 74px; }
  .header__nav {
    margin-right: 13px;
    margin-left: auto; }
  .header__logo {
    margin-top: 3px; }

.logo {
  display: block;
  height: 47px;
  width: 156px;
  background: url("../image/icon/logo_icon.svg") no-repeat;
  background-size: contain; }

.nav {
  width: 480px;
  position: relative;
  z-index: 5; }
  .nav__menu {
    min-width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .nav__item {
    margin: 0 5px; }
  .nav__link {
    text-decoration: none;
    color: #96a6a7;
    font-family: 'Gotham-medium';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .nav__link:hover {
      text-shadow: 0 0 8px rgba(36, 36, 36, 0.3);
      -webkit-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s; }

.search-log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 74px; }

.search {
  width: 74px;
  min-height: inherit;
  height: inherit;
  background-color: #e2dee0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .search__icon {
    width: 23px;
    height: 23px;
    fill: white;
    margin: auto; }
  .search:hover {
    background-color: #d4d4d4; }
  .search__input {
    min-height: 33px;
    width: 300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.login {
  width: 141px;
  min-height: inherit;
  color: #ffffff;
  font-family: 'Gotham-medium';
  font-weight: 500;
  font-size: 14px;
  line-height: 74px;
  background-color: #e94e38;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  position: relative;
  text-decoration: none; }
  .login--input {
    color: #ffffff;
    margin-left: 48px;
    width: 117px;
    height: 33px;
    border-radius: 14px;
    background-color: #e94e38;
    padding: 0 10px;
    position: relative;
    z-index: 5;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: border 0.5s,text-shadow 0.5s, width 0.2s,-webkit-box-shadow 0.5s;
    transition: border 0.5s,text-shadow 0.5s, width 0.2s,-webkit-box-shadow 0.5s;
    -o-transition: border 0.5s,text-shadow 0.5s, box-shadow 0.5s, width 0.2s;
    transition: border 0.5s,text-shadow 0.5s, box-shadow 0.5s, width 0.2s;
    transition: border 0.5s,text-shadow 0.5s, box-shadow 0.5s, width 0.2s,-webkit-box-shadow 0.5s; }
    .login--input::-webkit-input-placeholder {
      color: #fff; }
    .login--input::-moz-placeholder {
      color: #fff; }
    .login--input:-moz-placeholder {
      color: #fff; }
    .login--input:-ms-input-placeholder {
      color: #fff; }
    .login--input:hover {
      border: 1px solid rgba(255, 255, 255, 0.2);
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
      -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
              box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
      width: 200px;
      display: width 1s;
      -webkit-transition: 0.5s,border 0.5s, text-shadow 0.5s,-webkit-box-shadow 0.1s;
      transition: 0.5s,border 0.5s, text-shadow 0.5s,-webkit-box-shadow 0.1s;
      -o-transition: 0.5s,border 0.5s, text-shadow 0.5s,box-shadow 0.1s;
      transition: 0.5s,border 0.5s, text-shadow 0.5s,box-shadow 0.1s;
      transition: 0.5s,border 0.5s, text-shadow 0.5s,box-shadow 0.1s,-webkit-box-shadow 0.1s; }
    .login--input:focus {
      border: 1px solid rgba(255, 255, 255, 0.2);
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
      width: 200px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
  .login::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 17px;
    background: url("../image/icon/human_icon.svg") no-repeat center/100%;
    position: absolute;
    top: 28px;
    left: 35px; }
  .login::after {
    content: '';
    width: 5000px;
    min-height: inherit;
    background-color: #e94e38;
    position: absolute;
    top: 0;
    left: 145px;
    z-index: 0; }

@media screen and (max-width: 930px) {
  .header__logo {
    margin-top: 15px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .header__nav {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .search-log {
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 10px; } }

@media screen and (max-width: 750px) {
  .header {
    margin-top: 15px; }
    .header__logo {
      margin-right: auto;
      margin-left: auto; }
    .header__nav {
      margin-top: 13px; }
  .search-log {
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
    min-height: 50px; }
  .login {
    min-height: 50px;
    line-height: 50px; }
  .login::before {
    top: 17px; } }

.form-Head {
  width: 100%;
  min-height: 376px;
  background: url("../image/3-layers.jpg") no-repeat center top/cover; }
  .form-Head__heading {
    margin: 0;
    margin-top: 48px; }
  .form-Head__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.heading {
  width: 100%;
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
  color: #ffffff;
  font-family: 'Gotham-medium';
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  white-space: pre-wrap; }

.data {
  width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 470px; }
  .data__select {
    margin-top: 22px;
    position: relative; }
  .data__input {
    margin-top: 23px; }
  .data__button {
    margin-top: 29px;
    margin-bottom: 20px; }

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.districs, .educat {
  position: relative;
  min-width: 220px; }

.drop {
  margin: 0;
  padding: 0;
  border-top: none;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 20; }
  .drop__item {
    width: 220px;
    list-style: none;
    cursor: pointer;
    background-position: 10px -119px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: none;
    background-color: rgba(77, 77, 77, 0.98);
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .drop__item:last-child {
      border-radius: 0 0 25px 25px; }
    .drop__item:hover {
      background-color: rgba(66, 66, 66, 0.95);
      color: #222; }
  .drop__link {
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-family: "Gotham-Book";
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 25px;
    position: relative; }

.slct > .drop__link {
  padding-left: 0; }

.slct {
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-family: "Gotham-Book";
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  padding-left: 22px;
  display: block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis; }
  .slct::before {
    content: '';
    display: inline-block;
    font-size: 0;
    width: 6px;
    height: 6px;
    border: solid rgba(255, 255, 255, 0.2);
    border-width: 3px 0 0 3px;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    vertical-align: middle;
    position: relative;
    left: 164px;
    bottom: 4px; }

.active {
  border-radius: 25px 25px 0 0; }

.arrow-hover:hover .slct::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.input {
  width: 100%;
  height: 55px;
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-family: "Gotham-Book";
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  padding-left: 30px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .input::-webkit-input-placeholder {
    color: #fff; }
  .input::-moz-placeholder {
    color: #fff; }
  .input:-moz-placeholder {
    color: #fff; }
  .input:-ms-input-placeholder {
    color: #fff; }

.button {
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
  color: #ffffff;
  font-family: 'Gotham-medium';
  font-size: 18px;
  font-weight: 500;
  line-height: 48px;
  text-transform: uppercase;
  padding: 7px 32px 5px 32px;
  border-radius: 30px;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 2px 0 rgba(193, 66, 46, 0.726);
          box-shadow: 0 2px 0 rgba(193, 66, 46, 0.726);
  background-color: #e94e38;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .button--mod:hover {
    -webkit-box-shadow: 0 2px 0 rgba(193, 66, 46, 0.726), 0 0 10px rgba(255, 255, 255, 0.7);
            box-shadow: 0 2px 0 rgba(193, 66, 46, 0.726), 0 0 10px rgba(255, 255, 255, 0.7);
    background-color: #e63119;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .button--mod:focus {
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    background-color: #e63119;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .button--mod:active {
    -webkit-box-shadow: inset 0 -2px 0 rgba(193, 66, 46, 0.726), inset 0 0 40px rgba(255, 255, 255, 0.7);
            box-shadow: inset 0 -2px 0 rgba(193, 66, 46, 0.726), inset 0 0 40px rgba(255, 255, 255, 0.7);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

.hover-white:hover, .butSelelct__button-filt:hover {
  -webkit-box-shadow: 0 0 15px rgba(110, 110, 110, 0.6);
          box-shadow: 0 0 15px rgba(110, 110, 110, 0.6);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.hover-white:focus, .butSelelct__button-filt:focus:hover {
  -webkit-box-shadow: 0 0 15px rgba(110, 110, 110, 0.6);
          box-shadow: 0 0 15px rgba(110, 110, 110, 0.6);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

@media screen and (max-width: 560px) {
  .districs, .educat {
    min-width: 100%; }
  .educat {
    margin-top: 33px; }
  .select {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .data {
    width: 300px; }
    .data__input {
      margin-top: 33px; }
  .drop__item {
    width: 300px; }
  .data__button {
    margin-top: 48px; }
  .slct::before {
    left: 250px; } }

@media screen and (max-width: 400px) {
  .data {
    width: 200px; }
  .drop__item {
    width: 200px; }
  .slct::before {
    left: 150px; } }

.filter {
  min-height: 60px;
  background-color: #fff;
  font-family: 'Gotham-medium';
  font-weight: 500;
  border-bottom: 1px solid #e1dddf; }
  .filter__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .filter__container .active {
      border-radius: 19px 19px 0 0; }
  .filter .drop {
    margin: 0;
    padding: 0;
    border-top: none;
    display: none;
    position: absolute;
    top: 35px;
    left: 6px;
    width: 94px;
    z-index: 50; }
    .filter .drop__item {
      width: inherit;
      list-style: none;
      cursor: pointer;
      background-position: 10px -119px;
      border: 1px solid #96a6a7;
      border-top: none;
      background-color: white;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis; }
      .filter .drop__item:last-child {
        border-radius: 0 0 19px 19px; }
      .filter .drop__item:hover {
        background-color: #f1f1f1;
        color: #74898b; }
    .filter .drop__link {
      font-size: 12px;
      line-height: 33px;
      font-family: 'Gotham-medium';
      color: #96a6a7;
      text-transform: uppercase;
      padding-left: 10px; }

.priority {
  overflow: hidden;
  margin-right: -6px;
  margin-right: -6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.sort-item {
  color: #96a6a7;
  font-family: 'Gotham-medium';
  font-weight: 500;
  font-size: 12px;
  line-height: 48px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 6px; }
  .sort-item:hover {
    color: #74898b;
    text-shadow: 0 0 2px rgba(36, 36, 36, 0.3); }
  .sort-item:active {
    color: #e94e38; }

.butSelelct {
  margin: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .butSelelct .slct > .drop__link {
    padding-left: 0;
    color: #e94e38; }
  .butSelelct__slct {
    width: 94px;
    height: 35px;
    margin: 0 6px;
    border-radius: 19px;
    padding: 0px 0 0 19px;
    border: 1px solid #96a6a7;
    font-size: 12px;
    line-height: 33px;
    font-family: 'Gotham-medium';
    background-color: #fff;
    text-transform: uppercase;
    color: #e94e38;
    padding-left: 3px; }
  .butSelelct__button-filt {
    width: 125px;
    height: 35px;
    margin: 0 6px;
    background-color: #1baf5d;
    color: #fff;
    padding: 0;
    font-family: 'Gotham-medium';
    text-transform: uppercase;
    font-size: 12px;
    line-height: 33px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none; }
    .butSelelct__button-filt::after {
      content: '';
      display: inline-block;
      width: 8px;
      height: 12px;
      margin-left: 13px;
      background: url("../image/icon/geo_icon.svg") no-repeat center/contain; }
    .butSelelct__button-filt:hover {
      background-color: #24b666; }
  .butSelelct__districs {
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .butSelelct__districs .slct:before {
      left: 72px;
      z-index: 5000;
      bottom: 2px;
      border-color: #a0b4b8;
      border-width: 2px 0 0 2px;
      width: 5px;
      height: 5px; }

.filterBut {
  min-width: 306px;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.filtText {
  color: #96a6a7;
  font-family: 'Gotham-medium';
  font-weight: 500;
  font-size: 12px;
  line-height: 60px;
  text-transform: uppercase;
  padding-right: 10px; }

.cirBut-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
  background-position: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .cirBut-small:hover {
    -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3), 0 0 5px rgba(82, 82, 82, 0.3), 0 0 15px rgba(109, 109, 109, 0.6);
            box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3), 0 0 5px rgba(82, 82, 82, 0.3), 0 0 15px rgba(109, 109, 109, 0.6);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

.iconFilter, .tile-l--green .circle-icon, .tile-l--yellow .circle-icon {
  height: 19px;
  width: 24px;
  display: block;
  margin: auto;
  margin-top: 25%;
  fill: white; }

.green {
  background-color: #1baf5d; }

.gray {
  background-color: #b6c0c1; }

.yellow {
  background-color: #f19e1f; }

.purple {
  background-color: #88499c; }

@media screen and (max-width: 900px) {
  .filter__container {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .priority--cont {
    width: 100%; }
  .priority {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto; }
  .butSelelct {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .filterBut {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 15px; } }

@media screen and (max-width: 610px) {
  .filtText {
    display: none; }
  .butSelelct {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .filterBut {
    min-width: 260px; } }

.offers {
  min-height: 500px;
  min-width: 100%;
  background-color: #f2f0f1;
  border-top: 1px solid #e1dddf;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .offers__container {
    padding: 0; }
  .offers__border {
    width: 100%; }
    .offers__border:after {
      content: '';
      display: block;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%;
      border-top: 1px solid #e2dee0;
      margin-top: 35px;
      padding-bottom: 88px; }
  .offers__tiles {
    margin-top: 14px; }
  .offers__more {
    margin-top: 32px;
    margin-bottom: 35px; }

.tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.circle-icon, .tile-l .circle-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 10px 5px;
  border: 3px solid #fff;
  position: absolute;
  top: 98px;
  margin-right: auto;
  margin-left: auto; }

.tile-s, .tile-l {
  width: calc((100% / 4) - 34px);
  min-width: 175px;
  min-height: 270px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 1px 0 #e2dee0;
          box-shadow: 0 1px 0 #e2dee0;
  background-color: #ffffff;
  margin-right: 17px;
  margin-left: 17px;
  margin-top: 26px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 1px 0 #e2dee0;
  background-color: #ffffff;
  font-family: 'Gotham-medium';
  font-weight: 500;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s; }
  .tile-s:hover, .tile-l:hover {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.bgColor {
  width: 100%;
  min-height: 141px; }
  .bgColor:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgba(27, 175, 94, 0.7);
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s; }
  .bgColor:hover .tile-s__img {
    -webkit-filter: blur(1px);
            filter: blur(1px);
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s; }

.hov {
  width: 100%;
  height: 140px;
  opacity: 0;
  position: absolute;
  overflow: hidden;
  top: 0; }
  .hov__show {
    margin-top: 24px; }
  .hov__search {
    position: relative;
    height: 13px;
    width: 13px;
    fill: white;
    top: 2px;
    margin-right: 7px; }

.imgHover {
  overflow: hidden; }
  .imgHover:hover .tile-s__img {
    -webkit-filter: blur(1px);
            filter: blur(1px);
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s; }
  .imgHover:hover .tile-s__cost {
    opacity: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .imgHover:hover .hov {
    opacity: 1;
    top: 0;
    display: block;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .imgHover:hover .bgColor {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.estimate {
  margin-top: 14px;
  font-size: 0; }
  .estimate__star {
    height: 17px;
    width: 18px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 0.36252287;
    stroke-linecap: round; }
    .estimate__star:hover {
      fill: #ffffff;
      stroke: white; }
    .estimate__star:active {
      fill: #d3d3d3; }
  .estimate__star--full {
    fill: #ffffff; }

.masage {
  margin-left: 25px;
  position: relative;
  top: 3px;
  fill: white;
  height: 22px;
  width: 27px;
  -webkit-transition: border-radius 0.8s,-webkit-box-shadow 0.8s,-webkit-transform 0.15s;
  transition: border-radius 0.8s,-webkit-box-shadow 0.8s,-webkit-transform 0.15s;
  -o-transition: box-shadow 0.8s,border-radius 0.8s,transform 0.15s;
  transition: box-shadow 0.8s,border-radius 0.8s,transform 0.15s;
  transition: box-shadow 0.8s,border-radius 0.8s,transform 0.15s,-webkit-box-shadow 0.8s,-webkit-transform 0.15s; }
  .masage:hover {
    border-radius: 30%;
    -webkit-box-shadow: inset 0 0 5px 5px  #ffffff38, 0 0 5px 5px  #ffffff38;
            box-shadow: inset 0 0 5px 5px  #ffffff38, 0 0 5px 5px  #ffffff38;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: border-radius 0.15s ,-webkit-box-shadow 0.15s,-webkit-transform 0.15s;
    transition: border-radius 0.15s ,-webkit-box-shadow 0.15s,-webkit-transform 0.15s;
    -o-transition: box-shadow 0.15s,border-radius 0.15s ,transform 0.15s;
    transition: box-shadow 0.15s,border-radius 0.15s ,transform 0.15s;
    transition: box-shadow 0.15s,border-radius 0.15s ,transform 0.15s,-webkit-box-shadow 0.15s,-webkit-transform 0.15s; }
  .masage:active {
    fill: rgba(255, 255, 255, 0.555); }

.show {
  display: block;
  width: 137px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  border: 2px solid #fff;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 7px 0 7px; }
  .show:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); }
  .show:active {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
    border: 2px solid #cccccc; }

.iconSprite {
  padding: 3px;
  fill: white;
  height: 30px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.164); }

.tile-s__img {
  min-height: 141px;
  width: 100%; }

.tile-s__cost {
  width: 65px;
  height: 25px;
  color: #ffffff;
  border-radius: 13px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: 0 1px 0 #cccccc;
          box-shadow: 0 1px 0 #cccccc;
  position: absolute;
  top: 7px;
  right: 8px;
  overflow: hidden; }

.tile-s__descr {
  padding: 0 15px;
  margin-top: 32px;
  color: #566375;
  font-size: 14px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.tile-s__category {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 2px; }

.tile-s__asses {
  white-space: nowrap;
  margin-bottom: 10px; }
  .tile-s__asses :hover .star {
    fill: #f19e1f;
    cursor: pointer; }

.tile-s__cont {
  min-height: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.tile-s__asses {
  font-size: 0; }
  .tile-s__asses .estimate__star {
    height: 14px;
    width: 15px;
    fill: none;
    stroke: #f19e1f;
    stroke-width: 0.36252287;
    stroke-linecap: round; }
    .tile-s__asses .estimate__star--full {
      fill: #f19e1f; }
    .tile-s__asses .estimate__star:hover {
      stroke: #f19e1f; }
    .tile-s__asses .estimate__star:active {
      fill: none; }
  .tile-s__asses .estimate__star--full {
    fill: #f19e1f; }

.tile-s--green .imgHover:hover .bgColor, .tile-s--yellow .imgHover:hover .bgColor, .tile-s--purple .imgHover:hover .bgColor {
  background-color: rgba(27, 175, 94, 0.7);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.tile-s--green .show:hover, .tile-s--yellow .show:hover, .tile-s--purple .show:hover {
  background-color: rgba(27, 175, 94, 0.7); }

.tile-s--green .tile-s__img, .tile-s--yellow .tile-s__img, .tile-s--purple .tile-s__img {
  background: url("../image/layer-1.jpg") no-repeat center top/cover; }

.tile-s--green .tile-s__cont, .tile-s--yellow .tile-s__cont, .tile-s--purple .tile-s__cont {
  border-top: 3px solid #1baf5d; }

.tile-s--green .tile-s__cost, .tile-s--yellow .tile-s__cost, .tile-s--purple .tile-s__cost {
  background-color: #1baf5d; }

.tile-s--green .tile-s__category, .tile-s--yellow .tile-s__category, .tile-s--purple .tile-s__category {
  color: #1baf5d; }

.tile-s--green .circle-icon, .tile-s--yellow .circle-icon, .tile-s--purple .circle-icon {
  background-color: #1baf5d;
  background-size: 30px 23px; }

.tile-s--green .iconFilter, .tile-s--yellow .iconFilter, .tile-s--purple .iconFilter, .tile-s--green .tile-l--green .circle-icon, .tile-l--green .tile-s--green .circle-icon, .tile-s--yellow .tile-l--green .circle-icon, .tile-l--green .tile-s--yellow .circle-icon, .tile-s--purple .tile-l--green .circle-icon, .tile-l--green .tile-s--purple .circle-icon, .tile-s--green .tile-l--yellow .circle-icon, .tile-l--yellow .tile-s--green .circle-icon, .tile-s--yellow .tile-l--yellow .circle-icon, .tile-l--yellow .tile-s--yellow .circle-icon, .tile-s--purple .tile-l--yellow .circle-icon, .tile-l--yellow .tile-s--purple .circle-icon {
  height: 23px;
  width: 30px; }

.tile-s--yellow .imgHover:hover .bgColor {
  background-color: rgba(241, 157, 31, 0.7); }

.tile-s--yellow .show:hover {
  background-color: rgba(241, 157, 31, 0.7); }

.tile-s--yellow .tile-s__img {
  background: url("../image/layer-2.jpg") no-repeat center top/cover; }

.tile-s--yellow .tile-s__cont {
  border-top: 3px solid #f19e1f; }

.tile-s--yellow .tile-s__cost {
  background-color: #f19e1f; }

.tile-s--yellow .tile-s__category {
  color: #f19e1f; }

.tile-s--yellow .circle-icon {
  background-color: #f19e1f; }

.tile-s--purple .imgHover:hover .bgColor {
  background-color: rgba(137, 73, 156, 0.7); }

.tile-s--purple .show:hover {
  background-color: rgba(137, 73, 156, 0.7); }

.tile-s--purple .tile-s__img {
  background: url("../image/layer-4.jpg") no-repeat center top/cover; }

.tile-s--purple .tile-s__cont {
  border-top: 3px solid #88499c; }

.tile-s--purple .tile-s__cost {
  background-color: #88499c; }

.tile-s--purple .tile-s__category {
  color: #88499c; }

.tile-s--purple .circle-icon {
  background-color: #88499c; }

.circle-icon {
  background-size: 30px 23px; }

.asses__response {
  color: #96a6a7;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  bottom: 2px; }

.tile-l {
  width: calc((100% / 2) - 34px);
  min-width: 290px;
  margin-left: 17px; }
  .tile-l__img {
    min-height: 120px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .tile-l__category {
    text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 99px;
    padding-bottom: 8px; }
  .tile-l__asses {
    white-space: nowrap;
    margin-left: 8px; }
    .tile-l__asses :hover .star {
      fill: #f19e1f;
      cursor: pointer; }
  .tile-l__response {
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 5px;
    position: relative;
    bottom: 1px; }
  .tile-l__cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .tile-l__two-circl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20px;
    position: relative;
    bottom: 30px;
    position: relative; }
  .tile-l__btext {
    text-align: left;
    padding: 16px 35px 18px 18px; }
  .tile-l__name {
    margin-top: 10px; }
  .tile-l__text {
    text-align: justify;
    color: #566375;
    font-family: "Gotham-Book";
    font-size: 14px;
    line-height: 20px;
    margin-top: 6px; }
  .tile-l__more {
    display: block;
    font-family: 'Gotham-medium';
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    color: #566375;
    text-align: end;
    line-height: 8px;
    position: relative;
    left: 23px; }
    .tile-l__more:hover {
      text-shadow: 0 0 2px rgba(36, 36, 36, 0.3); }
  .tile-l .circle-icon {
    width: 55px;
    height: 55px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    margin-bottom: 15px;
    z-index: 10; }
    .tile-l .circle-icon:before {
      display: block;
      content: '';
      height: 24px;
      border-left: 2px solid  #f3f1f2;
      position: absolute;
      left: 27px;
      top: 56px;
      z-index: 5; }
  .tile-l .iconFilter, .tile-l .tile-l--green .circle-icon, .tile-l--green .tile-l .circle-icon, .tile-l .tile-l--yellow .circle-icon, .tile-l--yellow .tile-l .circle-icon {
    height: 23px;
    width: 30px; }
  .tile-l .circle-avatar {
    border: 3px solid #e2dee0;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    z-index: 10; }

.btext__asses {
  font-size: 0; }
  .btext__asses :hover .star {
    fill: #f19e1f;
    cursor: pointer; }
  .btext__asses .estimate__star {
    height: 16px;
    width: 17px;
    fill: none;
    stroke: #f19e1f;
    stroke-width: 0.36252287;
    stroke-linecap: round; }
    .btext__asses .estimate__star--full {
      fill: #f19e1f; }
    .btext__asses .estimate__star:hover, .btext__asses .estimate__star--hover {
      stroke: #ffbe25;
      fill: #f19e1f; }
    .btext__asses .estimate__star:active {
      fill: none; }
  .btext__asses .estimate__star--full {
    fill: #f19e1f; }

.lucy, .tile-l--green .circle-avatar {
  background: url("../image/layer-10.png") no-repeat center/59px 59px; }

.peter, .tile-l--yellow .circle-avatar {
  background: url("../image/layer-13.png") no-repeat center/59px 59px; }

.tile-l--green .tile-l__cont {
  border-top: 3px solid #1baf5d; }

.tile-l--green .tile-l__img {
  background: url("../image/layer-5.jpg") no-repeat center top/cover; }

.tile-l--green .circle-icon {
  background-color: #1baf5d; }

.tile-l--green .circle-avatar {
  border: 3px solid #e2dee0; }

.tile-l--yellow .tile-l__cont {
  border-top: 3px solid #f19e1f; }

.tile-l--yellow .tile-l__img {
  background: url("../image/layer-6.jpg") no-repeat center top/cover; }

.tile-l--yellow .circle-icon {
  background-color: #f19e1f;
  background-size: 30px 23px; }

.more {
  display: block;
  width: 160px;
  color: #566375;
  font-family: 'Gotham-medium';
  font-size: 18px;
  text-decoration: underline;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background: url(../image/icon/arrow_icon.svg) no-repeat 130px 9px/16px 7px; }
  .more:hover {
    text-shadow: 0 0 2px rgba(36, 36, 36, 0.3);
    cursor: pointer;
    background-position: 138px 9px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

.arrow {
  text-decoration: none;
  position: relative;
  bottom: 5px; }

@media screen and (max-width: 900px) {
  .tile-s, .tile-l {
    width: calc((100% / 3) - 34px); }
  .tile-l {
    width: calc((100% / 3) * 2 - 34px); } }

@media screen and (max-width: 630px) {
  .tile-s, .tile-l {
    width: calc((100% / 2) - 34px);
    min-width: 210px; }
  .tile-l {
    width: calc(100% - 34px); } }

.reality-bg {
  background-color: #f2f0f1; }

.reality {
  width: 100%;
  min-height: 100%;
  font-family: 'Gotham-medium';
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .reality__caption {
    color: #566375;
    font-size: 22px;
    margin: 0;
    text-align: center; }
  .reality__underCaption {
    color: #96a6a7;
    font-family: "Gotham-Book";
    font-size: 16px;
    font-weight: 400;
    margin-top: 11px;
    text-align: center; }
  .reality__bigIcon {
    min-width: 84%;
    margin-top: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .reality__lead {
    margin-top: 17px; }

.bigCircle__cap, .bigCircle__hause, .bigCircle__girl, .bigCircle__note, .bigCircle__bus {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.bigCircle {
  width: 100px;
  height: 100px;
  border: 2px solid #9dacad;
  border-radius: 50%;
  margin: 15px;
  stroke: #9dacad;
  fill: #9dacad; }
  .bigCircle:hover {
    border-color: #1baf5d;
    -webkit-box-shadow: inset 0 0 30px rgba(27, 175, 94, 0.2), 0 0 30px rgba(27, 175, 94, 0.2);
            box-shadow: inset 0 0 30px rgba(27, 175, 94, 0.2), 0 0 30px rgba(27, 175, 94, 0.2);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    fill: #1baf5d; }
  .bigCircle__cap {
    width: 50px;
    height: 32px;
    margin-top: 35px; }
  .bigCircle__hause {
    width: 50px;
    height: 40px;
    margin-top: 30px; }
  .bigCircle__girl {
    width: 38px;
    height: 45px;
    margin-top: 28px;
    stroke-width: 0.1; }
  .bigCircle__note {
    width: 45px;
    height: 45px;
    margin-top: 28px; }
  .bigCircle__bus {
    width: 43px;
    height: 46px;
    margin-top: 28px; }

.bigCircle {
  display: block; }
  .bigCircle:hover {
    border-color: #1baf5d;
    -webkit-box-shadow: inset 0 0 30px rgba(27, 175, 94, 0.2), 0 0 30px rgba(27, 175, 94, 0.2);
            box-shadow: inset 0 0 30px rgba(27, 175, 94, 0.2), 0 0 30px rgba(27, 175, 94, 0.2);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .bigCircle:hover .bigCircle__girle .colorIcon {
    fill: #1baf5d; }
  .bigCircle:hover .bigCircle__hause .colorIcon {
    stroke: #1baf5d; }
  .bigCircle:hover .bigCircle__cap .colorIcon {
    stroke: #1baf5d; }
  .bigCircle:hover .bigCircle__note .colorIcon {
    stroke: #1baf5d; }
  .bigCircle:hover .bigCircle__bus .colorIcon {
    stroke: #1baf5d; }

.lead {
  min-width: 100%;
  font-family: 'Gotham-medium';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 130px; }
  .lead__cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 80%;
    margin-top: 26px; }
  .lead__heading {
    color: #1baf5d;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    margin: 0; }

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .column__text {
    max-width: 257px;
    min-width: 150px;
    text-align: justify;
    color: #566375;
    font-family: "Gotham-Book";
    font-size: 14px; }
  .column__circle {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    margin: 17px 33px;
    background-color: #1baf5d; }
    .column__circle--flash {
      fill: white;
      width: 19px;
      height: 100%;
      display: block;
      margin: auto; }
    .column__circle--leaf {
      fill: white;
      width: 30px;
      height: 100%;
      display: block;
      margin: auto; }

@media screen and (max-width: 820px) {
  .column {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .lead {
    margin-bottom: 50px; } }

@media screen and (max-width: 415px) {
  .column__circle {
    width: 50px;
    height: 50px; }
    .column__circle--flash {
      background-size: 15px auto;
      background-color: #1baf5d; }
    .column__circle--leaf {
      background-size: 27px auto;
      background-color: #1baf5d; } }

.footer {
  width: 100%;
  min-height: 500px;
  background: url("../image/2-layers.jpg") no-repeat center top/cover; }
  .footer__heading {
    text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
    color: #ffffff;
    font-family: 'Gotham-medium';
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding-top: 55px;
    margin-bottom: 40px; }
  .footer__form {
    max-width: 492px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    position: relative; }
  .footer__input {
    min-width: 100%;
    height: 60px; }
  .footer__input--icon {
    padding-left: 69px;
    background: url("../image/icon/envelope_icon.svg") no-repeat 33px center/18px 15px; }
  .footer__button {
    position: absolute;
    right: 5px;
    top: 5px; }
  .footer__button--foot {
    height: 50px;
    padding: 1px 30px 5px 30px;
    font-size: 14px; }

.contact {
  min-height: 255px; }
  .contact:before {
    content: '';
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 57px; }
  .contact__container {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }

.footNav {
  margin: 0 40px; }
  .footNav__Head {
    color: #fff;
    font-family: 'Gotham-medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid  #c0bebc;
    display: inline-block; }
  .footNav__menu {
    list-style: none;
    text-align: left;
    padding: 0; }
  .footNav__submenu :hover {
    cursor: pointer;
    text-decoration: underline;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.7); }
  .footNav__link, .copyright {
    text-decoration: none;
    color: #c0bebc;
    font-family: "Gotham-Book";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; }

.copyright {
  color: #fff; }

.follow__icon {
  width: 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 26px; }

.follow__link {
  text-decoration: none;
  font-size: 29px;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .follow__link:hover {
    text-shadow: 0 0 5px #fff;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

@media screen and (max-width: 610px) {
  .contact__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .follow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media screen and (max-width: 380px) {
  .footer__input--icon {
    padding-left: 14%; }
  .footer__input--icon {
    background-position: 6% center; }
  .footer .footer__button--foot {
    padding: 1px 5% 5px 5%; }
  .footer .footNav__Head {
    margin-bottom: 0; }
  .footer .follow {
    margin-bottom: 50px; } }

/*# sourceMappingURL=style.css.map */
